div(
    data-animation="fromTo"
    data-from='{"opacity":"0"}'
    data-to='{"opacity":"1"}'
    data-start="top 70%"
    data-end="top 20%"
).scroll.jsAnimate
    div(
        data-animation="fromTo"
        data-from='{"x":"0"}'
        data-to='{"x":"-300"}'
        data-start="top top"
        data-end="bottom top"
        data-trigger=".scroll"
    ).scroll__img.jsAnimate
        img(src="/images/content/scroll/img.png" alt="lorem")
    .scroll__wrap
        .scroll__section.scroll__section--first
            .scroll__years
                .scroll-years
                    .scroll-years__years 11
                    .scroll-years__right
                        .scroll-years__title Years
                        .scroll-years__txt on the market

            .scroll__title $180,000
            .scroll__txt
                p in a total of cost reduction benefiting local business
        .scroll__section.scroll__section--second
            .scroll__blocks
                .scroll__block
                    .scroll__sub Since
                    .scroll__title.scroll__title--big 2011
                    .scroll__txt
                        p We hold ourselves accountable for tomorrow with the community in mind, where all engineers, programmers, marketers, and designers discern every project as an opening to improve society.
                .scroll__block
                    .scroll__title $30,000
                    .scroll__txt
                        p in a total of COVID discounts to local business since 2020
        .scroll__section
            .scroll__sub.scroll__sub--line
                |Social and
                br
                |Environmental
                br
                |Stewardship
            .scroll__txt
                p We strive to have all of our servers to be powered with 100% green-generated power by 2030.
                p We are 100% paperless since 2012.
                p We commit to the development of robust ecosystems in every single project.
                p We mandate an employment equality and diversity program to sustain a respectful workforce.
                p We give back to our community by volunteering at events and local food banks.
        .scroll__section.scroll__section--pt
            .scroll__txt
                p We grant opportunities for social links in our designs.
                p We propose a dynamic lifestyle and support the team in purchasing sporting equipment and working from home arrangements.
                p We breathe with the societies we work to help boost local economies.
                p We employ local suppliers wherever practicable to increase the local economy and decrease the environmental cost of moving goods and services.
        .scroll__section.scroll__section--pt
            .scroll__txt
                p We utilize cost/benefit analysis wherever practicable to guarantee that economic project determinations are made.



