.diffs
    .container
        .diffs__grid
            .diffs__left
                div(
                    data-animation="fromTo"
                    data-from='{"opacity":"0"}'
                    data-to='{"opacity":"1"}'
                    data-start="top 50%"
                    data-end="bottom 50%"
                ).diffs__title.title.jsAnimate
                    .diffs__title-txt.title__txt What Makes Us Different
                    div(
                        data-animation="fromTo"
                        data-from='{"opacity":"0","x":"-50%"}'
                        data-to='{"opacity":"1","x":"0"}'
                        data-start="-100px 50%"
                        data-end="bottom 40%"
                    ).diffs__title-line.title__line.line.line--back.jsAnimate

            .diffs__right
                div(
                    data-animation="fromTo"
                    data-from='{"opacity":"0","y":"100"}'
                    data-to='{"opacity":"1","y":"0"}'
                    data-start="top 50%"
                    data-end="bottom 50%"
                ).diffs__sub.jsAnimate At Epcotec, we share an enthusiasm for community support.
                div(
                    data-animation="fromTo"
                    data-from='{"opacity":"0","y":"100"}'
                    data-to='{"opacity":"1","y":"0"}'
                    data-start="-100 50%"
                    data-end="50% 50%"
                ).diffs__txt.jsAnimate As a result, we create an agile team to tackle every project's unique engineering requirements through development and implementation management. This unified service contribution provides you with the specialists you need.
                div(
                    data-animation="fromTo"
                    data-from='{"opacity":"0","y":"100"}'
                    data-to='{"opacity":"1","y":"0"}'
                    data-start="-300px 50%"
                    data-end="top 50%"
                ).diffs__img.jsAnimate
                    img(src="/images/content/diffs/img.jpg" alt="lorem")
                .diffs__cols
                    .diffs__col
                        p Our innovative engineering, creative design, and technical expertise embrace the whole sector of ICT from website creation.
                    .diffs__col
                        p Now Epcotec just the right size while being small enough to maintain sound, cohesive partners, and personal client attention and service in the USA, Canada, and Australia.